/* ===== RESUME SECTION ===== */
.resume-section {
  padding: 100px;
  background: #f0f0f0;
}

.resume-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}

.resume-section h3 {
  margin-top: 30px;
}

.resume-section p {
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.6;
}
